<!DOCTYPE html>
<html>
  <head>
    <title>Rails6Tutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <%= "Hello, " + current_user.name %>
        <%= link_to 'Logout', '/signout' %>
      <% else %>
        <%= link_to 'Github Login', '/auth/github' %>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice]%>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
